@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 1240px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
  font-weight: 400;
}

.main-header {
  /* margin: 0 auto;
  background-color: #ffe17f; */
  color: #000000;
  /* margin-top: 40px;
  width: 1160px; */
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  /* margin-top: -20px; */
}

.main-header .container {
  padding: 0;
  padding-top: 15px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 40px,
    #ffe17f 40px,
    #ffe17f 100%
  );
}

.navigation-container {
  margin-right: 60px;
  margin-left: 60px;
}

.logo-black {
  width: 145px;
  height: 36px;
  margin: 0;
  display: block;
  margin-bottom: 30px;
}

.user-navigation {
  color: #000000;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  display: flex;
}

.container-form {
  margin: 0;
  padding: 0;
  width: 517px;
  display: flex;
  margin-bottom: 30px;
  margin-right: 26px;
}

.field {
  width: 257px;
  height: 40px;
}

.button-search {
  width: 158px;
  height: 40px;
}

.user-navigation-list {
  display: flex;
  flex-direction: row;
  width: 480px;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.main-navigation-item {
  margin-top: auto;
  margin-bottom: auto;
}

.user-navigation-list-catalog {
  display: flex;
  justify-content: space-between;
  width: 510px;
}

.enter {
  margin-right: auto;
}

.user-navigation-link {
  color: #000000;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
}

/* Main navigation */
.main-navigation {
  display: flex;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-navigation-catalog-link {
  margin: 0;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 276px;
}

.items-catalog {
  text-decoration: none;
  color: #000000;
  letter-spacing: 3.6px;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  width: 471px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  list-style: none;
}

.main-navigation-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Samples */
.samples {
  /* margin: 0 auto;
  width: 1160px; */
  font-family: "Rubik", sans-serif;
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
}

.samples-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.samples-item {
  background-image: linear-gradient(
    to bottom,
    #ffe17f 0,
    #ffe17f 150px,
    #ffffff 150px,
    #ffffff 100%
  );
}

.samples-list-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.samples-link {
  width: 560px;
  display: block;
}

.samples-image {
  display: block;
  margin: 0;
  width: 560px;
  margin-right: 40px;
}

.samples-little-inner-item:first-child {
  margin-right: 40px;
}

.samples-number {
  margin: 0;
  margin-left: auto;
  margin-right: 49px;
  color: #ffffff;
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 180px;
  font-weight: 700;
  line-height: 180px;
  z-index: 0;
  width: 250px;
  align-self: center;
}

.samples-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  width: 545px;
  margin-bottom: 29px;
  margin-top: -60px;
}

.samples-item-description {
  margin: 0;
  width: 560px;
  margin-bottom: 50px;
}

.samples-more {
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  margin-bottom: 50px;
}

.samples-distance {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 38px;
}

.samples-distance th {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.samples-distance td {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

/* Pagination */
.slider-pagination {
  display: flex;
  margin: 0;
  list-style: none;
  margin-bottom: 70px;
}

/* Catalog */
.catalog {
  /* margin: 0 auto;
  width: 1160px; */
  margin-bottom: 70px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* .catalog-item {
  background-color: #ffe17f;
  width: 160px;
} */

.catalog-link {
  display: block;
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.catalog-image-wrapper {
  background-color: #ffe17f;
}

/* Services */
.services {
  /* background-color: #f0f0f0; */
  width: 100%;
  margin-bottom: 70px;
  background-image: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 102px,
    #f0f0f0 102px,
    #f0f0f0 100%
  );
}

.services-container {
  /* width: 1160px;
  margin: 0 auto;
  padding: 0; */
  display: flex;
  margin-bottom: 70px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.services-item {
  justify-content: space-between;
  margin-bottom: 35px;
}

.services-item:last-child {
  margin-bottom: 0;
}

.services-link {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.services-link-current {
  color: #ffe17f;
  background-color: #000000;
}

/* Services Slider */
.services-slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 75px;
}

.services-slider-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin: 0;
  margin-bottom: 34px;
}

.services-slider-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

/* Delivery Button */
.delivery-rare-item {
  /* background-color: #f0f0f0;
  margin: 0 auto;
  width: 1160px; */
  margin-bottom: 70px;
}

.delivery-rare-item-button {
  margin: 0 auto;
  width: 1160px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

/* About us */
.about-us-contacts {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  margin: 0 auto;
  width: 1160px;
  display: flex;
  margin-bottom: 70px;
}

.about-us {
  margin-right: 108px;
}

.about-us-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.delivery-companies-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
}

.more-about-us,
.contact-us {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.contacts h4 {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.contacts-phone {
  color: #444444;
}

/* Subscription */
.subscription {
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.subscription-container {
  /* width: 1160px;
  margin: 0 auto; */
}

.subscribe-text {
  display: flex;
}

.subscription-title {
  width: 348px;
  margin-top: 64px;
  margin-right: 252px;
  margin-bottom: 144px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

.subscription-text {
  width: 560px;
  margin-top: 74px;
  margin-bottom: 144px;
}

.subscription-footer {
  display: flex;
  margin: 0;
}

.subscription-form {
  width: 810px;
  margin: 0;
}

.subscription-field {
  width: 557px;
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 56px;
}

.subscribe {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.free {
  margin-left: auto;
  margin-bottom: 69.5px;
}

/* Footer */
.main-footer {
  background-color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-container {
  /* margin: 0 auto;
  width: 1160px; */
  display: flex;
  justify-content: space-between;
}

/* Address */
.logo-yellow {
  display: block;
  margin-top: 62px;
  margin-bottom: 35px;
  width: 145px;
  height: 36px;
}

.address p {
  width: 239px;
  margin-right: 119px;
  margin-bottom: 148px;
}

/* Footer Navigation */
.footer-navigation {
  margin: 0 auto;
  width: 444px;
}

.footer-navigation-list {
  margin: 0 auto;
  padding: 0;
  width: 444px;
  margin-top: 137px;
  /* margin-right: 183px; */
  margin-bottom: 62px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.social-list {
  margin: 0 auto;
  width: 150px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

/* Footer Phone */
.phone {
  /* margin: 0; */
  margin-top: 140px;
  width: 355px;
  text-align: right;
}

.contacts-phone-footer {
  /* width: 174px; */
  display: inline-block;
  /* margin: 0; */
  margin-bottom: 63px;
  color: #ffffff;
}

.logo-html-academy-img {
  width: 115px;
  height: 33px;
  margin-bottom: 65px;
  margin-left: auto;
  display: block;
}

/* Catalog */
.user-navigation-link-pale {
  opacity: 0.3;
}

/* Main content */
.page-content {
  /* margin: 0 auto;
  width: 1160px; */
  padding-top: 35px;
  padding-bottom: 34px;
  padding-left: 100px;
  width: 1100px;
}

.page-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
  margin-top: 35px;
  /* margin-left: 60px; */
  margin-bottom: 16px;
}

.breadcrumbs {
  margin: 0;
  width: 429px;
  padding: 0;
  display: flex;
  /* margin-left: 60px; */
  justify-content: space-between;
  list-style: none;
  /* margin-bottom: 34px; */
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/* Catalog Container */
.main-container {
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  display: flex;
}

.catalog-container {
  /* margin: 0 auto;
  width: 1160px; */
  display: flex;
}

/* Filter */
.filter {
  margin: 0;
  width: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

.sorting-container {
  margin: 0;
  width: 840px;
}

.filter h2 {
  margin-top: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 60px;
}

.price-title,
.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  margin-bottom: 20px;
}

.price {
  margin-bottom: 35px;
}

.price p:last-child {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
  color: #000000;
}

.catalog-filter-group {
  margin-bottom: 35px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-filter {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

/* Sorting */
.sorting {
  margin: 0;
  width: 760px;
  padding: 20px 40px 20px 40px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.sorting-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}

.sort-item-link {
  text-decoration: none;
  color: rgb(175, 174, 174);
}

/* Product list */
.product {
  width: 760px;
  padding: 70px 40px 80px 40px;
  background-color: #ffffff;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  margin: 0;
  width: 360px;
  margin-bottom: 44px;
}

.product-card-img {
  margin-bottom: 32px;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.product-card-title p {
  max-width: 226px;
}

.product-card-price {
  text-align: right;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

.more-product-list {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Button */
.button-product-list {
  margin: 0 auto;
  width: 760px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 44px;
  background-color: #f0f0f0;
}

/* Pagination */
.pagination {
  margin: 0 auto;
  width: 760px;
  display: flex;
  justify-content: space-between;
}

/* .pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.pagination-pages {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 200px;
  justify-content: space-between;
}

.pagination-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-link-number {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-dots {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-next {
  color: #000000;
  opacity: 1;
}
